<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.auth.dao.RoleDao">

    <select id="findRolesByUserId" resultType="com.boss.common.entity.po.RolePO">
        SELECT
            r.id,
            r.role_code,
            r.role_name,
            r.introduction,
            r.version,
            r.is_deleted
        FROM
            t_role r
            LEFT JOIN t_user_role ur ON r.id = ur.role_id
        WHERE
            ur.user_id = #{userID}
    </select>
</mapper>